textarea.stackedit-editor-textarea {
  font-family: monospace;
}

ul.stackedit-editor-toolbar {
  background: #eee;
  height: 40px;
  margin: 0;
  padding: 0;
}

ul.stackedit-editor-toolbar .stackedit-editor-button {
  background-image: url(../images/buttons.png);
  border-bottom: 4px solid #eee;
  cursor: pointer;
  float: left;
  height: 32px;
  list-style: none;
  margin: 4px 2px 0px 2px;
  padding: 0;
  width: 32px;
}

ul.stackedit-editor-toolbar li.stackedit-editor-button:hover {
  border-bottom: 4px solid #999;
}
