.node-content code.inline-code {
  background-color: #eee;
  padding: 1px 5px 1px 5px;
}

.code-header {
  background-color: #eee;
  border: 1px solid #ccc;
  font-family: mono;
  font-size: 75%;
  margin: 0 24px -16px 24px;
  padding: 4px 8px;
  text-align: right;
}

.code-out {
  background-color: #eee;
}
